<p>New Session</p>
<form>
  Date:<br>
  AncientOne:<br>
  <select ng-model='session.aOne' required>
    <option ng-repeat="a in ancientones">{{a}}</<option>
  </select>
  <br><br>
  Won:<br>
  <select ng-model='session.won' required>
    <option>Yes</option>
    <option>No</option>
  </select>
  <br><br>
  Doom:</br>
  <input type="text" ng-model="session.doom" required><br>
  Monsters Remaining:</br>
  <input type="text" ng-model="session.monsters" required><br>
  Gates:</br>
  <input type="text" ng-model="session.gates" required><br>
  <br>
  Mysteries Solved:</br>
  <input type="text" ng-model="session.mysteriessolved" required><br>
  <br>
  <button ng-click="submit()">Submit</button>
</form>
