<div>
<p>Ancient One: {{ session.ancientOne}}</p>
<p>Won: {{session.won}}</p>
<p>Doom: {{session.doom}}</p>
<p>Gates: {{session.gates}}</p>
<p>Monsters Remaining: {{session.monsters}}</p>
<p>Mysteries Solved: {{session.mysteriessolved}}</p>

<table>
<tr>
  <th>Players</th>
</tr>
<tr ng-repeat="player in session.players">
  <td>{{ player }}</td>
</tr>
</table>

<table>
<tr>
  <th>Characters</th>
</tr>
<tr ng-repeat="char in session.characters">
  <td>{{ char.character }}</td>
  <td>{{ char.player }}</td>
</tr>
</table>

</div>
