<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Won</th>
      <th>Ancient One</th>
      <th>Doom</th>
      <th>Gates</th>
      <th>Monsters</th>
      <th>Mysteries Solved</th>
      <th>Rumours Solved</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{session.date}}</td>
      <td>{{session.won}}</td>
      <td>{{session.ancientOne}}</td>
      <td>{{session.doom}}</td>
      <td>{{session.gates}}</td>
      <td>{{session.monsters}}</td>
      <td>{{session.mysteriessolved}}</td>
      <td>{{session.rumourssolved}}</td>
    </tr>
  </tbody>
</table>

</br>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Players</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-repeat="player in session.players">{{ player }}</td>
    </tr>
  </tbody>
</table>

</br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Character</th>
      <th>Survived</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="char in session.characters">
      <td>{{ char.player }}</td>
      <td>{{ char.character }}</td>
      <td>{{ char.survived }}</td>
    </tr>
  </tbody>
</table>
